<div class="panel box box-primary" id="wrapper-$c.id()">
    <div class="box-header">
        <h4 class="box-title">
            <a data-toggle="collapse" data-parent="#accordion-$id" href="#collapse-$c.id()">
                $c.label()
            </a>
        </h4>
        <div class="btn btn-default" style="margin:5px" onClick="deleteListElement('$path','$c.id()','$id')">Delete</div>
    </div>
    <div id="collapse-$c.id()" class="panel-collapse collapse">
        <div class="box-body">
            $c.renderMinimal("$path")
        </div>
    </div>
</div>