<div class="panel box box-primary" id="wrapper-$c.id()">
    <div class="box-header">
        <h4 class="box-title">
            <a data-toggle="collapse" data-parent="#accordion-$id" href="#collapse-$c.id()">
                $c.name()
            </a>
        </h4>
        <div class="btn btn-default" style="margin:5px;float:right" onClick="deleteListElement('$path','$c.id()','$id')">Delete</div>
    </div>
    <div id="collapse-$c.id()" class="panel-collapse collapse">
        <div class="box-body">

            <div class="form-group">
                <label for="name:$path/$c.id()">List element label</label>
                <input type="text" name="name:$path/$c.id()" class="form-control" value="$c.name()"/>
            </div>

            $c.renderMinimal("$path")
        </div>
    </div>
</div>