
<script type="text/javascript">

    $(function(){
        if($.cookie("preview")=="true"){
            toggleContent();
        }
    });

    function toggleContent(){
        $('#pageIframe').src='/';

        $('#content1').height($(window).height());
        $('#pageIframe').height($(window).height());


        $('#content1').toggle();

        if($('#content1').is(":visible")){
            $.cookie("preview", "true");
        } else {
            $.cookie("preview", "false");
        }

    }


</script>

<div class="col-md-12" style="margin-bottom:20px;">
    <button class="btn btn-info" onClick="$('#theform').submit();">Save</button>
    <div id="toggle-preview" class="btn btn-default" onClick="toggleContent()" style="float:right">Toggle Site Preview</div>
    <a href="$renderUrl" target="_blank" class="btn btn-default" style="float:right;margin-right:10px;">Open Page</a>
    <a href="$renderUrl?download" class="btn btn-default" style="float:right;margin-right:10px;">Download HTML</a>

</div>


##<div class="form-group col-md-12">
##    <label for="url">URL of Preview</label>
##    <input type="text" name="url" class="form-control" value="$url"/>
##</div>


<div class="col-md-6" style="display:none;margin-bottom:20px;" id="content1">
    <iframe id="pageIframe" style="border:0;width:100%;height:100%"  src="$renderUrl">Sorry, your browser doesn't support iframes, you will not be able to view the preview</iframe>
</div>

    <div class="col-md-6">
    #set($n=0)
        #foreach($doc in $documents)
            #if($n>$documents.size()/2)
                </div>
                <div class="col-md-6">
                #set($n=-2)
            #end
            $doc.render("")
            #set($n=$n+1)
        #end
    </div>

    <div class="col-md-6">
    #set($n=0)
        #foreach($ls in $lists)
            #if($n>=$documents.size()/2)
                </div>
                <div class="col-md-6">
                #set($n=-2)
            #end
            $ls.render("")
            #set($n=$n+1)
        #end
    </div>
    <div class="col-md-6">
    #set($n=0)
        #foreach($it in $items)
            #if($n>=$documents.size()/2)
                </div>
                <div class="col-md-6">
                #set($n=-2)
            #end
            $it.render("")
            #set($n=$n+1)
        #end
    </div>

    <div class="col-md-12">
        <button class="btn btn-info" onClick="$('#theform').submit();">Save</button>
    </div>