
#foreach($doc in $documents)
    <div class="col-md-6">
        $doc.render("")
    </div>
#end

#foreach($ls in $lists)
    <div class="col-md-6">
        $ls.render("")
    </div>
#end


#foreach($it in $items)
<div class="col-md-6">
    $it.render("")
</div>
#end
<div class="col-md-12">
    <input type="submit" class="btn btn-info" style="" value="Save"/>
</div>
