<div class="form-group">
    <label for="$path">$label</label>
    <textarea type="text" name="$path" id="$path" class="form-control teeditor" rows="5" cols="30"></textarea>

    <script type="text/javascript">
        $(function(){


        var name="$path";
        var text = "$text";
        $('textarea[name="'+name+'"]').jqteVal(text);

    });
    </script>

</div>