<!DOCTYPE html>
<html>
<head>
    #parse('family/common/meta.vm')
    <title>Uniswim | 401 Unauthorized</title>
    #parse('family/common/scripts.vm')
</head>
<body class="skin-blue">


<!-- Main content -->
<section class="content">

    <div class="error-page">
        <h2 class="headline text-info">401</h2>
        <div class="error-content">
            <h3><i class="fa fa-error text-red"></i> Unauthorized</h3>
            <p>
                You are not authorized to view this page
            </p>
        </div><!-- /.error-content -->
    </div><!-- /.error-page -->

</section><!-- /.content -->

</body>
</html>
