<!DOCTYPE html>
<html>
<head>
    #set($assetPath='/minimoassets')
    #set($vmPath='/assets/minimoassets/vms')

    #parse("${vmPath}/common/meta.vm")
    <title>Minimo CMS | Site Management Console</title>
    #parse("${vmPath}/common/scripts.vm")
</head>

<body class="skin-blue">
<!-- header logo: style can be found in header.less -->
#parse("${vmPath}/common/header.vm")


<div class="wrapper row-offcanvas row-offcanvas-left">
    #parse("${vmPath}/common/menu.vm")

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Pages
                <small></small>
            </h1>
##            <ol class="breadcrumb">
##                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
##                <li class="active">Blank page</li>
##            </ol>
        </section>

        <!-- Main content -->
        <section class="content">



##            #parse('content/forms.vm')



        </section><!-- /.content -->
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->


</body>
</html>
