<!DOCTYPE html>
<html>
<head>
    #set($assetPath='/minimoassets')
    #set($vmPath='/assets/minimoassets/vms')

    #parse("${vmPath}/common/meta.vm")
    <title>Minimo CMS | Site Management Console</title>
    #parse("${vmPath}/common/scripts.vm")
</head>

<body class="skin-blue">
<!-- header logo: style can be found in header.less -->
    #parse("${vmPath}/common/header.vm")


<div class="wrapper row-offcanvas row-offcanvas-left">
    #parse("${vmPath}/common/menu.vm")

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Upload JSON
                <small></small>
            </h1>
        ##            <ol class="breadcrumb">
        ##                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        ##                <li class="active">Blank page</li>
        ##            </ol>

        </section>

        <!-- Main content -->
        <section class="content">

            #if($upload=="fail")
                <div class="alert alert-danger alert-dismissable col-md-6">
                    <i class="fa fa-ban"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <b>Error!</b> Sorry, your JSON was not able to be committed
                </div>
            #elseif($upload=="success")
                <div class="alert alert-success alert-dismissable col-md-6">
                    <i class="fa fa-check"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <b>Success!</b> Your JSON was applied successfully
                </div>

            #end
<div class="col-md-6">
            <form action="/minimo/upload-json" method="POST">

                <div class="form-group">
                    <label for="json">Enter JSON for all pages</label>
                    <textarea type="text" name="json" class="form-control" rows="10" cols="60">[{}]</textarea>
                </div>

                <div class="col-md-12">
                    <input type="submit" class="btn btn-lg btn-info" style="" value="Save"/>
                </div>
            </form>
</div>

        ##            #parse("${vmPath}/render/mo-page.vm")



        </section><!-- /.content -->
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->


</body>
</html>
